extends layout
block content

      h2 Teacher Detail
       p #{teacher.name}
        h3 Questions
         each questions in teacher.whQuestions
          ul
           li Questions Id: #{questions._id}
            each q in questions.questions
             p who: #{q.who}
             p when: #{q.when}
             p how: #{q.how}
             p what: #{q.what}
             p where: #{q.where}
             p why: #{q.why}
              hr
        h3 Viewed News
         each vn in teacher.newsToReview
          p Grade: #{vn.grade}
          p Comment: #{vn.comment}
           each news in vn.news
            p #{news}  

            //- düzelt
           
           